.dashboard-login {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.shadow-box {
  box-shadow: 0 35px 50px rgba( 0, 0, 0, 0.2 );
  border-radius: 25px;
  background-color: #ff990012;
  border: 1px solid #ff9900;
}

.credentials-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  outline: none;
}

.credentials-label {
  text-align: left;
  justify-self: left;
}
