.hwset{
    background-color: #f1cb92;
    border: 2px solid;
    border-color: #fbf9f7;
    border-radius: 25px;
    height: 150px;
    overflow: hidden;
    position: relative;
    width: 200px;
    left: 30px;
    top: 100px;
}

.hwset .text{
    color: #ff9900;
    font-family: "Krona One-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 68px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: double;
    top: 6px;
    width: 171px;

}
.hwset .icon-wrench{
    height: 40px;
    left: 20px;
    position: absolute;
    top: 2px;
    width: 44px;
}