.hwset{
    height: 200px;
    position: absolute;
    width: 250px;
    left: 6px;
    top: 80px;
}

.hwset .set-div1{
    height: 95px;
    background-color: #f1cb92;
    border: 2px solid;
    border-color: #fbf9f7;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    width: 250px;
    left: 0;
    top: 0;
}

.hwset .set-div2{
    height: 95px;
    background-color: #f1cb92;
    border: 2px solid;
    border-color: #fbf9f7;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    width: 250px;
    left: 0;
    top: 5px;
}

.hwset .text{
    color: #ff9900;
    font-family: "Krona One-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: double;
    top: 6px;
    width: 171px;

}
.hwset .icon-wrench{
    height: 25px;
    left: 45px;
    position: absolute;
    top: 6px;
    width: 44px;
}