.project {
    background-color: #ffe9c8;
    border: 5px solid;
    border-color: #ff9900;
    border-radius: 25px;
    height: 346px;
    overflow: hidden;
    position: relative;
    width: 265px;
    
}

.project .text-wrapper{
    color: #ff9900;
    font-family: "Krona One-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 6px;
    width: 171px;
}

.project .group{
    height: 39px;
    left: 42px;
    position: absolute;
    top: 295px;
    width: 180px;
}

.project .div{
    color: #ffe9c8;
    font-family: "Krona One-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    width: 114px;
}

.project .collaborators{
    left: 60px;
    top: 45px;
    color: #ff9900;
    font-family: "Krona One-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    

}

.project .hardwareSetframe{
    height: 150px;
    width: 200px;
    position: absolute;
    top: 150px;
    left: 2px;
}


.project .icon-user-friends{
    height: 30px;
    left: 12px;
    position: absolute;
    top: 40px;
    width: 44px;
}

.project .icon-wrench{
    height: 40px;
    left: 12px;
    position: absolute;
    top: 126px;
    width: 44px;
}

