.box {
    height: 39px;
    width: 177px;
    position: fixed;
    text-align: center;
}

button {
    background-color: #ff9900;
    font-family: "Krona One-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    color: #fee4be;
    border: none;
    cursor: pointer;
    align-self: center;
    height: 39px;
    border-radius: 15px;
    width: 180px;
}

button:hover {
    background-color: #0056b3;
    
}

