.NavBar {
    height: 46px;
    position: relative;
    width: 370px;
    left: 0;
    top: 0;
}

.NavBar .group{
    height: 46 px;
    left: 0;
    position: fixed;
    top: 0;
    width: 370 px;
}

.NavBar .home-box{
    background-color: #ff990012;
    border: 1px solid;
    border-color: #ff9900;
    height: 46px;
    left: 0;
    position: absolute;
    top: 0;
    width: 74px;
}

.NavBar .icon-home{
    height: 30px;
    left: 21px;
    position: absolute;
    top: 6px;
    width: 33px;
}

.NavBar .file-box{
    background-color: #ff990012;
    border: 1px solid;
    border-color: #ff9900;
    height: 46px;
    left: 148px;
    position: absolute;
    top: 0;
    width: 74px;
}

.NavBar .icon-library{
    height: 26px;
    left: 22px;
    position: absolute;
    top: 10px;
    width: 33px;
}

.NavBar .library-box{
    background-color: #ff990012;
    border: 1px solid;
    border-color: #ff9900;
    height: 46px;
    left: 222px;
    position: absolute;
    top: 0;
    width: 74px;
}

.NavBar .icon-address-book{
    height: 32px;
    left: 17px;
    position: absolute;
    top: 15px;
    width: 33px;
}

.NavBar .settings-box{
    background-color: #ff990012;
    border: 1px solid;
    border-color: #ff9900;
    height: 46px;
    left: 296px;
    position: absolute;
    top: 0;
    width: 74px;
}

.NavBar .icon-settings{
    height: 29px;
    left: 1px;
    position: absolute;
    top: 5px;
    width: 74px;
}

.NavBar .profile-box{
    background-color: #ff990012;
    border: 1px solid;
    border-color: #ff9900;
    height: 46px;
    left: 74px;
    position: absolute;
    top: 0;
    width: 74px;
}

.NavBar .icon-folder-file{
    height: 30px;
    left: 18px;
    position: absolute;
    top: 9px;
    width: 37px;
}