.HW{
  background-color: #ffe9c8;
  height: 600px;
  width: 1000px;
}

.HW .frame{
  height: 600px;
  position: relative;
}

.HW .pageDiv{
  height: 64px;
  left: 15px;
  overflow: hidden;
  position: absolute;
  top: 17px;
  width: 272px;
}

.HW .pageTitle{
  color: #ff9900;
  font-family: "Krona One-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 0;
  width: 228px;
}

.HW .bar-group{
  height: 46px;
  left: 309px;
  position: absolute;
  top: 17px;
  width: 370px;
}

.HW .project-frame{
  height: 419px;
  left: 15px;
  position: absolute;
  top: 72px;
  width: 938px;
}