.ProjectFrame{
    height: 419px;
    width: 712px;
    position: relative;
    top: 0;
    left: 0;
}

.ProjectFrame .frame{
    background-color: #ffe9c8;
    border: 1px solid;
    border-color: #ff9900b5;
    border-radius: 25px;
    height: 419px;
    overflow: hidden;
    position: absolute;
    width: 712px;
}

.ProjectFrame .top-div{
    height: 150px;
    width: 712px;
    top: 10px;
    left: 0;
    position: absolute;
    overflow: hidden;
}

.ProjectFrame .collaborators-div{
    
    height: 100px;
    width: 349px;
    top: 0;
    left: 21px;
    position: absolute;
}

.ProjectFrame .collaborators-text{
    color: #ff9900;
    font-family: "Krona One-Regilar", Helvetica;
    font-size: 20px;
    font-weight: 400px;
    left: 0;
    letter-spacing: 1px;
    line-height: normal;
    position: absolute;
    top: 25px;
    width: 254px;
}

.ProjectFrame .text{
    color: #ff9900;
    font-family: "Krona One-Regilar", Helvetica;
    font-size: 20px;
    font-weight: 400px;
    left: 400px;
    letter-spacing: 1px;
    line-height: normal;
    position: absolute;
    top: 25px;
    width: 254px;
}

.ProjectFrame .HWSets-div{
    height: 268px;
    left: 21px;
    width: 700px;
    top: 123px;
    position: absolute;

}

.ProjectFrame .HWSet-div1{
    height: 268px;
    left: 0;
    width: 349px;
    top: 0;
    position: absolute;

}

.ProjectFrame .HWSet-div2{
    height: 268px;
    left: 350px;
    width: 349px;
    top: 0;
    position: absolute;
}

.ProjectFrame .HWSet-widget{
    height: 268px;
    position: relative;
    background-color: #f1cb92;
    border: 2px solid;
    border-color: #fbf9f7;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    width: 268px;
}

.ProjectFrame .HWset-text{
    color: #ff9900;
    font-family: "Krona One-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 98px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 17px;
    width: 254px;
}

.CommentsPage {
    height: 405px;
    width: 212px;
    left: 720px;
    top: 0;
    position: absolute;
}

.CommentsPage .Comments-window{
    background-color: #fcb87a;
    border: 3px solid;
    border-color: #ffe9c8;
    border-radius: 25px;
    height: 405px;
    position: relative;
    width: 212px;
    left: 0px;
    top: 0;
}

.CommentsPage .comments-text{
    color: #ffe9c8;
    font-family: "Krona One-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 10px;
    width: 254px;
}